/* Overrides */
.jigl-1 {
  width: 99%; }

.jigl-2 {
  width: 49.5%; }

.jigl-3 {
  width: 33%; }

.jigl-4 {
  width: 24.75%; }

.jigl-5 {
  width: 19.8%; }

.jigl-6 {
  width: 16.5%; }

@media (max-width: 599px) {
  .jigl-1,
  .jigl-2,
  .jigl-3,
  .jigl-4,
  .jigl-5,
  .jigl-6 {
    width: 99%;
    float: none; } }

/* Page Styles */
a {
  text-decoration: none;
  color: #69B; }
  a:hover {
    color: #444; }

.demo-header > div {
  font-size: 20px; }

.demo-navigation {
  margin-bottom: 40px; }
  .demo-navigation > ul {
    list-style: none; }
    .demo-navigation > ul > li > a {
      font-size: 18px; }

.demo-sections {
  padding: 10px; }

.demo-section {
  margin-bottom: 15px; }
  .demo-section:last-of-type {
    margin-bottom: 0; }

.demo-section-header {
  font-size: 17px;
  margin-left: 10px; }

.demo-section-navigation {
  margin-left: 5%; }
  .demo-section-navigation > ul {
    list-style: none; }
    .demo-section-navigation > ul > li > a {
      text-decoration: none;
      color: #69B;
      font-size: 18px; }
      .demo-section-navigation > ul > li > a:hover {
        color: #444; }

.demo-containers {
  width: 80%;
  margin: 0 10%; }

.demo-container {
  margin-bottom: 15px; }
  .demo-container:last-of-type {
    margin-bottom: 0; }
  .demo-container > div {
    margin-bottom: 10px; }
  .demo-container > code {
    background: #EEE;
    color: #469; }
    .demo-container > code > div {
      padding-left: 10px;
      padding-right: 10px;
      background: #EEE; }
      .demo-container > code > div:first-of-type {
        padding-top: 10px; }
      .demo-container > code > div:last-of-type {
        padding-bottom: 10px; }
