.rg-top-layer {
    height: 850px;
    background-color: #7CAECF;
}

.rg-odd-layer {
    height: 500px;
}

.rg-even-layer {
    height: 500px;
}

.rg-layer-title {
    text-align: center;
}

/* Footer */
.rg-footer {
    padding-top: 15px;
    background-color: #333;
    color: #9d9d9d;
}

.rg-footer-link {
    color: #9d9d9d;
}

.rg-footer-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.rg-footer hr {
    width: 95%;
    display: table;
    margin: 30px auto;
    border-top: 2px solid #FFF;
}

.rg-footer-nav {
    font-size: 17px;
    display: table;
    margin: 15px auto;
}

.rg-footer-nav > li {
    display: inline-block;
    margin-right: 30px;
}

.rg-footer-copyright-text {
    font-size: 18px;
}

@media (max-width: 768px) {
    .rg-footer-nav {
        padding-left: 0;
    }
    
    .rg-footer-nav > li {
        display: table;
        margin: auto;
    }
}

















