<div id="twoColGridInput" class="jigl-content-container">
  <h1>2 Column Grid</h1>
  <div class="jigl-content-description">
    A two column grid can be created which will put any two inputs side by side in a row. Any 
    type of input can be put into this grid formation, but it is recommended not to put normal 
    sized inputs next to a textarea for styling issues.
  </div>
  <div style="overflow: hidden;">
      <div class="jigl jigl-2 jigl-text jigl-left" tabindex="1">
        <div class="jigl-label">Input1</div>
        <div class="jigl-info">Required</div>
        <div class="jigl-container">
          <input class="jigl-field" type="text" name="input1" />
        </div>
      </div>
      <div class="jigl jigl-2 jigl-text jigl-right" tabindex="1">
        <div class="jigl-label">Input2</div>
        <div class="jigl-info">Required</div>
        <div class="jigl-container">
          <input class="jigl-field" type="text" name="input2" />
        </div>
      </div>
  </div>
  <code class="jigl-content-code">
    <div>&lt;div class='jigl jigl-2 jigl-text jigl-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input1&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input1' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-2 jigl-text jigl-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input2&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input2' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
  </code>
</div>

<div id="threeColGridInput" class="jigl-content-container">
  <h1>3 Column Grid</h1>
  <div class="jigl-content-description">
    A three column grid can be created which will put any three inputs side by side in a row. Any 
    type of input can be put into this grid formation, but it is recommended not to put normal sized 
    inputs next to a textarea for styling issues.
  </div>
  <div style="overflow: hidden;">
      <div class="jigl jigl-3 jigl-text jigl-left" tabindex="1">
        <div class="jigl-label">Input1</div>
        <div class="jigl-info">Required</div>
        <div class="jigl-container">
          <input class="jigl-field" type="text" name="input1" />
        </div>
      </div>
      <div class="jigl jigl-3 jigl-text jigl-center" tabindex="1">
        <div class="jigl-label">Input2</div>
        <div class="jigl-info">Required</div>
        <div class="jigl-container">
          <input class="jigl-field" type="text" name="input2" />
        </div>
      </div>
      <div class="jigl jigl-3 jigl-text jigl-right" tabindex="1">
        <div class="jigl-label">Input3</div>
        <div class="jigl-info">Required</div>
        <div class="jigl-container">
          <input class="jigl-field" type="text" name="input3" />
        </div>
      </div>
  </div>
  <code class="jigl-content-code">
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input1&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input1' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input2&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input2' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input3&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input3' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
  </code>
</div>

<div id="fourColGridInput" class="jigl-content-container">
    <h1>4 Column Grid</h1>
    <div class="jigl-content-description">
      A four column grid can be created which will put any four inputs side by side in a row. Any 
      type of input can be put into this grid formation, but it is recommended not to put normal sized 
      inputs next to a textarea for styling issues.
    </div>
    <div style="overflow: hidden;">
      <div class="jigl jigl-4 jigl-text jigl-left" tabindex="1">
        <div class="jigl-label">Input1</div>
        <div class="jigl-info info-minify">
          <i class="fa fa-exclamation"></i>
        </div>
        <div class="jigl-container">
          <input class="jigl-field" type="text" name="input1" />
        </div>
      </div>
      <div class="jigl jigl-4 jigl-text jigl-center" tabindex="1">
        <div class="jigl-label">Input2</div>
        <div class="jigl-info info-minify">
          <i class="fa fa-exclamation"></i>
        </div>
        <div class="jigl-container">
          <input class="jigl-field" type="text" name="input2" />
        </div>
      </div>
      <div class="jigl jigl-4 jigl-text jigl-center" tabindex="1">
        <div class="jigl-label">Input3</div>
        <div class="jigl-info info-minify">
          <i class="fa fa-exclamation"></i>
        </div>
        <div class="jigl-container">
          <input class="jigl-field" type="text" name="input3" />
        </div>
      </div>
      <div class="jigl jigl-4 jigl-text jigl-right" tabindex="1">
        <div class="jigl-label">Input4</div>
        <div class="jigl-info info-minify">
          <i class="fa fa-exclamation"></i>
        </div>
        <div class="jigl-container">
          <input class="jigl-field" type="text" name="input4" />
        </div>
      </div>
    </div>
    <code class="jigl-content-code">
      <div>&lt;div class='jigl jigl-4 jigl-text jigl-left' tabindex='1'&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input1&lt;/div&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
      <div>&nbsp;&nbsp;&lt;/div&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input1' /&gt;</div>
      <div>&nbsp;&nbsp;&lt;/div&gt;</div>
      <div>&lt;/div&gt;</div>
      <div>&lt;div class='jigl jigl-4 jigl-text jigl-center' tabindex='1'&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input2&lt;/div&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
      <div>&nbsp;&nbsp;&lt;/div&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input2' /&gt;</div>
      <div>&nbsp;&nbsp;&lt;/div&gt;</div>
      <div>&lt;/div&gt;</div>
      <div>&lt;div class='jigl jigl-4 jigl-text jigl-center' tabindex='1'&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input3&lt;/div&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
      <div>&nbsp;&nbsp;&lt;/div&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input3' /&gt;</div>
      <div>&nbsp;&nbsp;&lt;/div&gt;</div>
      <div>&lt;/div&gt;</div>
      <div>&lt;div class='jigl jigl-4 jigl-text jigl-right' tabindex='1'&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input4&lt;/div&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
      <div>&nbsp;&nbsp;&lt;/div&gt;</div>
      <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input4' /&gt;</div>
      <div>&nbsp;&nbsp;&lt;/div&gt;</div>
      <div>&lt;/div&gt;</div>
    </code>
</div>

<div id="fiveColGridInput" class="jigl-content-container">
  <h1>5 Column Grid</h1>
  <div class="jigl-content-description">
    A five column grid can be created which will put any five inputs side by side in a row. Any 
    type of input can be put into this grid formation, but it is recommended not to put normal sized 
    inputs next to a textarea for styling issues.
  </div>
  <div style="overflow: hidden;">
    <div class="jigl jigl-5 jigl-text jigl-left" tabindex="1">
      <div class="jigl-label">Input1</div>
      <div class="jigl-info info-minify">
        <i class="fa fa-exclamation"></i>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input1" />
      </div>
    </div>
    <div class="jigl jigl-5 jigl-text jigl-center" tabindex="1">
      <div class="jigl-label">Input2</div>
      <div class="jigl-info info-minify">
        <i class="fa fa-exclamation"></i>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input2" />
      </div>
    </div>
    <div class="jigl jigl-5 jigl-text jigl-center" tabindex="1">
      <div class="jigl-label">Input3</div>
      <div class="jigl-info info-minify">
        <i class="fa fa-exclamation"></i>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input3" />
      </div>
    </div>
    <div class="jigl jigl-5 jigl-text jigl-center" tabindex="1">
      <div class="jigl-label">Input4</div>
      <div class="jigl-info info-minify">
        <i class="fa fa-exclamation"></i>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input4" />
      </div>
    </div>
    <div class="jigl jigl-5 jigl-text jigl-right" tabindex="1">
      <div class="jigl-label">Input5</div>
      <div class="jigl-info info-minify">
        <i class="fa fa-exclamation"></i>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input5" />
      </div>
    </div>
  </div>
  <code class="jigl-content-code">
    <div>&lt;div class='jigl jigl-5 jigl-text jigl-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input1&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input1' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-5 jigl-text jigl-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input2&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input2' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-5 jigl-text jigl-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input3&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input3' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-5 jigl-text jigl-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input4&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input4' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-5 jigl-text jigl-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input5&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input5' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
  </code>
</div>

<div id="sixColGridInput" class="jigl-content-container">
  <h1>6 Column Grid</h1>
  <div class="jigl-content-description">
    A six column grid can be created which will put any six inputs side by side in a row. Any 
    type of input can be put into this grid formation, but it is recommended not to put normal sized 
    inputs next to a textarea for styling issues.
  </div>
  <div style="overflow: hidden;">
    <div class="jigl jigl-6 jigl-text jigl-left" tabindex="1">
      <div class="jigl-label">Input1</div>
      <div class="jigl-info info-minify">
        <i class="fa fa-exclamation"></i>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input1" />
      </div>
    </div>
    <div class="jigl jigl-6 jigl-text jigl-center" tabindex="1">
      <div class="jigl-label">Input2</div>
      <div class="jigl-info info-minify">
        <i class="fa fa-exclamation"></i>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input2" />
      </div>
    </div>
    <div class="jigl jigl-6 jigl-text jigl-center" tabindex="1">
      <div class="jigl-label">Input3</div>
      <div class="jigl-info info-minify">
        <i class="fa fa-exclamation"></i>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input3" />
      </div>
    </div>
    <div class="jigl jigl-6 jigl-text jigl-center" tabindex="1">
      <div class="jigl-label">Input4</div>
      <div class="jigl-info info-minify">
        <i class="fa fa-exclamation"></i>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input4" />
      </div>
    </div>
    <div class="jigl jigl-6 jigl-text jigl-center" tabindex="1">
      <div class="jigl-label">Input5</div>
      <div class="jigl-info info-minify">
        <i class="fa fa-exclamation"></i>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input5" />
      </div>
    </div>
    <div class="jigl jigl-6 jigl-text jigl-right" tabindex="1">
      <div class="jigl-label">Input6</div>
      <div class="jigl-info info-minify">
        <i class="fa fa-exclamation"></i>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input6" />
      </div>
    </div>
  </div>
  <code class="jigl-content-code">
    <div>&lt;div class='jigl jigl-6 jigl-text jigl-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input1&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input1' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-6 jigl-text jigl-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input2&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input2' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-6 jigl-text jigl-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input3&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input3' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-6 jigl-text jigl-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input4&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input4' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-6 jigl-text jigl-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input5&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input5' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-6 jigl-text jigl-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input6&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info info-minify'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-exclamation'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input6' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
  </code>
</div>

<div id="twoByTwoGridInput" class="jigl-content-container">
  <h1>2x2 Grid</h1>
  <div class="jigl-content-description">
    A two row, two column grid can be created to put any four inputs into a grid. This grid can be
    made of any types of inputs, but it is recommended not to put normal sized inputs next to a 
    textarea for styling issues.
  </div>
  <div style="overflow: hidden;">
    <div class="jigl jigl-2 jigl-text jigl-top-left" tabindex="1">
      <div class="jigl-label">Input1</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input1"/>
      </div>
    </div>
    <div class="jigl jigl-2 jigl-text jigl-top-right" tabindex="1">
      <div class="jigl-label">Input2</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input2"/>
      </div>
    </div>
    <div class="jigl jigl-2 jigl-text jigl-bottom-left" tabindex="1">
      <div class="jigl-label">Input3</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input3"/>
      </div>
    </div>
    <div class="jigl jigl-2 jigl-text jigl-bottom-right" tabindex="1">
      <div class="jigl-label">Input4</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input4"/>
      </div>
    </div>
  </div>
  <code class="jigl-content-code">
    <div>&lt;div class='jigl jigl-2 jigl-text jigl-top-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input Name1&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input1' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-2 jigl-text jigl-top-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input Name2&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input2' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-2 jigl-text jigl-bottom-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input3&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input3' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-2 jigl-text jigl-bottom-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input Name4&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input4' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
  </code>
</div>

<div id="threeByThreeGridInput" class="jigl-content-container">
  <h1>3x3 Grid</h1>
  <div class="jigl-content-description">
    A three row, three column grid can be created to put any nine inputs into a grid. This grid can be
    made of any types of inputs, but it is recommended not to put normal sized inputs next to a 
    textarea for styling issues.
  </div>
  <div style="overflow: hidden;">
    <div class="jigl jigl-3 jigl-text jigl-top-left" tabindex="1">
      <div class="jigl-label">Input1</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input1"/>
      </div>
    </div>
    <div class="jigl jigl-3 jigl-text jigl-top-center" tabindex="1">
      <div class="jigl-label">Input2</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input2"/>
      </div>
    </div>
    <div class="jigl jigl-3 jigl-text jigl-top-right" tabindex="1">
      <div class="jigl-label">Input3</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input3"/>
      </div>
    </div>
    <div class="jigl jigl-3 jigl-text jigl-middle-left" tabindex="1">
      <div class="jigl-label">Input4</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input4"/>
      </div>
    </div>
    <div class="jigl jigl-3 jigl-text jigl-middle-center" tabindex="1">
      <div class="jigl-label">Input5</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input5"/>
      </div>
    </div>
    <div class="jigl jigl-3 jigl-text jigl-middle-right" tabindex="1">
      <div class="jigl-label">Input6</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input6"/>
      </div>
    </div>
    <div class="jigl jigl-3 jigl-text jigl-bottom-left" tabindex="1">
      <div class="jigl-label">Input7</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input7"/>
      </div>
    </div>
    <div class="jigl jigl-3 jigl-text jigl-bottom-center" tabindex="1">
      <div class="jigl-label">Input8</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input8"/>
      </div>
    </div>
    <div class="jigl jigl-3 jigl-text jigl-bottom-right" tabindex="1">
      <div class="jigl-label">Input9</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input9"/>
      </div>
    </div>
  </div>
  <code class="jigl-content-code">
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-top-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input1&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input1' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-top-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input2&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input2' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-top-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input3&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input3' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-middle-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input4&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input4' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-middle-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input5&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input5' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-middle-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input6&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input6' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-bottom-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input7&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input7' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-bottom-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input8&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input8' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-bottom-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input9&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input9' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
  </code>
</div>

<div id="fourByFourGridInput" class="jigl-content-container">
  <h1>4x4 Grid</h1>
  <div class="jigl-content-description">
    A four row, four column grid can be created to put any sixteen inputs into a grid. This grid can be
    made of any types of inputs, but it is recommended not to put normal sized inputs next to a 
    textarea for styling issues.
  </div>
  <div style="overflow: hidden;">
    <div class="jigl jigl-4 jigl-text jigl-top-left" tabindex="1">
      <div class="jigl-label">Input1</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input1"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-top-center" tabindex="1">
      <div class="jigl-label">Input2</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input2"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-top-center" tabindex="1">
      <div class="jigl-label">Input3</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input3"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-top-right" tabindex="1">
      <div class="jigl-label">Input4</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input4"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-middle-left" tabindex="1">
      <div class="jigl-label">Input5</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input5"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-middle-center" tabindex="1">
      <div class="jigl-label">Input6</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input6"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-middle-center" tabindex="1">
      <div class="jigl-label">Input7</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input7"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-middle-right" tabindex="1">
      <div class="jigl-label">Input8</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input8"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-middle-left" tabindex="1">
      <div class="jigl-label">Input9</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input9"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-middle-center" tabindex="1">
      <div class="jigl-label">Input10</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input10"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-middle-center" tabindex="1">
      <div class="jigl-label">Input11</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input11"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-middle-right" tabindex="1">
      <div class="jigl-label">Input12</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input12"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-bottom-left" tabindex="1">
      <div class="jigl-label">Input13</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input13"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-bottom-center" tabindex="1">
      <div class="jigl-label">Input14</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input14"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-bottom-center" tabindex="1">
      <div class="jigl-label">Input15</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input15"/>
      </div>
    </div>
    <div class="jigl jigl-4 jigl-text jigl-bottom-right" tabindex="1">
      <div class="jigl-label">Input16</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input16"/>
      </div>
    </div>
  </div>
  <code class="jigl-content-code">
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-top-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input1&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input1' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-top-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input2&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input2' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-top-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input3&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input3' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-top-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input4&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input4' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-middle-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input5&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input5' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-middle-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;input6&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input6' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-middle-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input7&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input7' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-middle-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input8&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input8' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-middle-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input9&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input9' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-middle-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;input10&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input10' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-middle-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input11&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input11' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-middle-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input12&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input12' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-bottom-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input13&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input13' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-bottom-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input14&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input14' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-bottom-center' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input15&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input15' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-4 jigl-text jigl-bottom-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input16&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input16' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
  </code>
</div>

<div id="customGridInput" class="jigl-content-container">
  <h1>Customized Grid</h1>
  <div class="jigl-content-description">
    Any combination of input sizes and types can be put together into rows to make unique input grids. This can
    makes the library extremely versitile and can be used to make any form imaginable. Similar to Bootstrap you
    should use the number of elements in a row that corresponds to the column size being used or at least put
    elements together that add up to the number of elements designated by the first column size. For example, if
    you use a <b>jigl-2</b> element to start, finish that row with another <b>jigl-2</b> element or two <b>jigl-4</b>
    elements. It is recommended to keep textareas on their own row to not throw off the sizing of other elements in the row.
  </div>
  <div style="overflow: hidden;">
    <div class="jigl jigl-1 jigl-text jigl-top" tabindex="1">
      <div class="jigl-label">Input1</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input1" />
      </div>
    </div>
    <div class="jigl jigl-2 jigl-email jigl-middle-left" tabindex="1">
      <div class="jigl-label">Email</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-hint">
        <span>A valid email address is required. Ex: name@domain.com</span>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="email" />
      </div>
    </div>
    <div class="jigl jigl-2 jigl-password jigl-middle-right" tabindex="1">
      <div class="jigl-label">Password</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-hint">
        <span>Passwords must be at least 7 characters, have one digit, one lowercase letter, and one uppercase letter</span>
      </div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="password" />
      </div>
    </div>
    <div class="jigl jigl-3 jigl-text jigl-middle-left" tabindex="1">
        <div class="jigl-label">Input4</div>
        <div class="jigl-info">Required</div>
        <div class="jigl-container">
          <input class="jigl-field" type="text" name="input4" />
        </div>
    </div>
    <div class="jigl jigl-3 jigl-select jigl-middle-center" tabindex="0">
      <div class="jigl-label">Input5</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <span class="jigl-dropdown-arrow">
          <i class="fa fa-caret-down"></i>
        </span>
        <input name="input5" />
        <div class="jigl-field">
          <div></div>
          <span>...</span>
        </div>
        <div class="jigl-select-dropdown">
          <ul>
            <li class="jigl-option jigl-option-empty" data-value="0"></li>
            <li class="jigl-option" data-value="1">Value1</li>
            <li class="jigl-option" data-value="2">Value2</li>
            <li class="jigl-option" data-value="3">Thing1</li>
            <li class="jigl-option" data-value="4">Thing2</li>
            <li class="jigl-option" data-value="5">About1</li>
            <li class="jigl-option" data-value="6">Stuff1</li>
            <li class="jigl-option" data-value="7">Stuff2</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="jigl jigl-3 jigl-text jigl-middle-right" tabindex="1">
      <div class="jigl-label">Input6</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input6" />
      </div>
    </div>
    <div class="jigl jigl-1 jigl-textarea jigl-middle" tabindex="1">
      <div class="jigl-label">Input7</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <textarea class="jigl-field" name="input7"></textarea>
      </div>
    </div>
    <div class="jigl jigl-2 jigl-text jigl-bottom-left" tabindex="1">
      <div class="jigl-label">Input8</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input8" />
      </div>
    </div>
    <div class="jigl jigl-2 jigl-text jigl-bottom-right" tabindex="1">
      <div class="jigl-label">Input9</div>
      <div class="jigl-info">Required</div>
      <div class="jigl-container">
        <input class="jigl-field" type="text" name="input9" />
      </div>
    </div>
  </div>
  <code class="jigl-content-code">
    <div>&lt;div class='jigl jigl-1 jigl-text jigl-top' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input1&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input1' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-2 jigl-email jigl-middle-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Email&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-hint'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;A valid email address is required. Ex: name@domain.com&lt;/span&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='email' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-2 jigl-password jigl-middle-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Password&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-hint'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;Passwords must be at least 7 characters, have one digit, one lowercase letter, and one uppercase letter&lt;/span&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='password' name='password' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-middle-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input4&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input4' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-select jigl-middle-center' tabindex='0'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input5&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class='jigl-dropdown-arrow'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class='fa fa-caret-down'&gt;&lt;/i&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/span&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input name='input5' /&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class='jigl-field'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&gt;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;...&lt;/span&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class='jigl-select-dropdown'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class='jigl-option jigl-option-empty' data-value='0'&gt;&lt/li&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class='jigl-option' data-value='1'&gt;Value 1&lt/li&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class='jigl-option' data-value='2'&gt;Value 2&lt/li&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class='jigl-option' data-value='3'&gt;Value 3&lt/li&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class='jigl-option' data-value='4'&gt;Value 4&lt/li&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-3 jigl-text jigl-middle-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input6&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input6' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-1 jigl-textarea jigl-middle' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input7&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;textarea class='jigl-field' type='text' name='input7'&gt;&lt;/textarea&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-2 jigl-text jigl-bottom-left' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input8&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input8' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
    <div>&lt;div class='jigl jigl-2 jigl-text jigl-bottom-right' tabindex='1'&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-label'&gt;Input9&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-info'&gt;Required&lt;/div&gt;</div>
    <div>&nbsp;&nbsp;&lt;div class='jigl-container'&gt;</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class='jigl-field' type='text' name='input9' /&gt;</div>
    <div>&nbsp;&nbsp;&lt;/div&gt;</div>
    <div>&lt;/div&gt;</div>
  </code>
</div>