<section class="jigl-navbar">
  <div class="jigl-navbar-container">
    <ul class="jigl-navbar-sections">
      <li class="jigl-navbar-section">
        <a data-content="about" class="jigl-navbar-section-name">About</a>
      </li>
      <li class="jigl-navbar-section">
        <div class="jigl-navbar-section-name">Input Types</div>
        <ul class="jigl-navbar-subsections">
          <li class="jigl-navbar-subsection">
            <a data-content="textInput">Text</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="emailInput">Email</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="passwordInput">Password</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="textAreaInput">Text Area</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="selectInput">Select</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="autocompleteInput">Autocomplete</a>
          </li>
        </ul>
      </li>
      <li class="jigl-navbar-section">
        <div class="jigl-navbar-section-name">Input Sizes</div>
        <ul class="jigl-navbar-subsections">
          <li class="jigl-navbar-subsection">
            <a data-content="twoColGridInput">2 Column Grid</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="threeColGridInput">3 Column Grid</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="fourColGridInput">4 Column Grid</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="fiveColGridInput">5 Column Grid</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="sixColGridInput">6 Column Grid</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="twoByTwoGridInput">2x2 Grid</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="threeByThreeGridInput">3x3 Grid</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="fourByFourGridInput">4x4 Grid</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="customGridInput">Custom Grid</a>
          </li>
        </ul>
      </li>
      <li class="jigl-navbar-section">
        <div class="jigl-navbar-section-name">Input Options</div>
        <ul class="jigl-navbar-subsections">
          <li class="jigl-navbar-subsection">
            <a data-content="nonValidatedInput">Non-validating Inputs</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="miniValidInput">Minified Validation</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="disabledInput">Disabled Inputs</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="roundedInput">Rounded Inputs</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="darkInput">Dark Themed Inputs</a>
          </li>
        </ul>
      </li>
      <li class="jigl-navbar-section">
        <div class="jigl-navbar-section-name">JavaScript API</div>
        <ul class="jigl-navbar-subsections">
          <li class="jigl-navbar-subsection">
            <a data-content="init">init()</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="initializeContainer">initializeContainer()</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="validateContainer">validateContainer()</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="isContainerValid">isContainerValid()</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="createClone">createClone()</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="resetContainer">resetContainer()</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="setUpSelectOptions">setUpSelectOptions()</a>
          </li>
          <li class="jigl-navbar-subsection">
            <a data-content="jQueryData">$(...).data() Functions</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>