@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables/Mixins */
$light-gray: #777;
$dark-gray: #444;

@mixin box_sizing {
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
  box-sizing:          border-box;
}

/* Shared */
body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  h1 {
    margin-bottom: 10px;
  }
  
  text-align: center;
}

.debug_dump {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Typography */
body {
  font-family: 'Lato', sans-serif;
  color: $dark-gray;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header */
.navbar-inverse {
  background-color: #304150;
  border-color: #103140;

  .navbar-nav > li > a {
    color: #FFF;

    &:hover {
      color: #9D9D9D;
    }
  }
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  font-family: 'Julius Sans One', sans-serif;
  float: left;
  margin-right: 10px;
  padding-top: 12px;
  font-size: 1.7em;
  color: #FFF;
  cursor: pointer;

  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  #logo {
    padding-top: 8px;
  }

  .navbar-nav {
    float: none;
  }
}

/* Footer */