@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables/Mixins */
$light-gray: #777;
$dark-gray: #444;

@mixin box_sizing {
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
  box-sizing:          border-box;
}

/* Shared */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  h1 {
    margin-bottom: 10px;
  }
  
  text-align: center;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Typography */
body {
  font-family: 'Lato', sans-serif;
  color: $dark-gray;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header */

/* Footer */